.webhome{
    background-image: image(you);
}
.web img{
    position: relative;
    width: 150px;
    height: 30px;
    margin-left: 0;
    margin-top: 0;
    float: left;
}
.form1{
    margin-left: 200px;
    margin-top: 0;
    width: 1000px;
    
}
#button1{
    margin-left: 5px;
}
.tools{
    float: right;
}
.fa-user-circle-o{
    color: black;
    width: 15px;
}
#gethelp{
    color: rgb(36, 161, 199);
    font-size: 20px;
}
#close{
    font-size: 20px;
    color: rgb(0,0,0);
}
.socialmedia{
    font-size: 20px;
    padding-right: 0;
    margin-right: 0;
    position: relative;
}
#twitter{
    margin-right: 0px;
    padding-right: 0px;
}
#h51{
    display: inline-flex;
}
#ul5{
    display: inline-flex;
    margin-top: 0;
    margin-left: 5px;
    text-decoration: none;
    list-style: none;
    padding: 0
}


.bottomnav ul{
    display: inline-flex;
    list-style: none;
}
.footer2{
    float: right;
}
.footer2 ul li{
    display: inline-flex;
    text-decoration: none;
    padding: 0;
    list-style: none;
}